# MTK project .rc configure

import init.mt8163.usb.rc

on init
# Temp Backward compatibility
    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/boot /dev/bootimg
    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/recovery /dev/recovery
    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/secro  /dev/sec_ro
    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/kb /dev/kb
    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/dkb /dev/dkb
    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/seccfg /dev/seccfg
#    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/proinfo /dev/pro_info
#    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/nvram /dev/nvram
#    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/para /dev/misc
    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/logo /dev/logo
    symlink /dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/misc2 /dev/misc2

on post-fs-data
#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF
   
    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF
    
    chmod 0660 /dev/AD5820AF
    chown system camera /dev/AD5820AF
    
    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

    chmod 0660 /dev/FM50AF
    chown system camera /dev/FM50AF

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

#add for runtime test battery test
    chown system system /dev/MT_pmic_adc_cali



#Define device for ATCID
    chmod 660 /dev/ttyGS0 
    chown system /dev/ttyGS0 
    chmod 660 /dev/ttyGS1 
    chown system /dev/ttyGS1

on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
    # export SECONDARY_STORAGE /storage/sdcard1

service atci_service /vendor/bin/atci_service 
	socket atci-service stream 660 radio system 
	socket atci-serv-fw stream 660 radio system 
	user root 
        disabled
	group radio system                         
service atcid-daemon-u /vendor/bin/atcid
	user system
	group radio system media
	disabled
	oneshot

service atcid-daemon-e /vendor/bin/atcid
	user root
	group radio system
	disabled
	oneshot

#start for ftm led test
service whiteflashon /system/bin/factory_bin w 1
    user root
    oneshot
    disabled

on property:sys.whiteflashon=1
    start whiteflashon

service whiteflashoff /system/bin/factory_bin w 0
    user root
    oneshot
    disabled

on property:sys.whiteflashoff=1
    start whiteflashoff

service yellowflashon /system/bin/factory_bin y 1
    user root
    oneshot
    disabled

on property:sys.yellowflashon=1
    start yellowflashon

service yellowflashoff /system/bin/factory_bin y 0
    user root
    oneshot
    disabled

on property:sys.yellowflashoff=1
    start yellowflashoff

service chargingenable /system/bin/factory_bin c 1
    user root
    oneshot
    disabled

on property:sys.charging.enable=1
    start chargingenable

service chargingdisable /system/bin/factory_bin c 0
    user root
    oneshot
    disabled

on property:sys.charging.disable=1
    start chargingdisable

service keylighton /system/bin/factory_bin k 1
    user root
    oneshot
    disabled
on property:sys.keylighton=1
    start keylighton

service keylightoff /system/bin/factory_bin k 0
    user root
    oneshot
    disabled
on property:sys.keylightoff=1
    start keylightoff

service redledon /system/bin/factory_bin r 1
    user root
    oneshot
    disabled
on property:sys.redledon=1
    start redledon

service redledoff /system/bin/factory_bin r 0
    user root
    oneshot
    disabled
on property:sys.redledoff=1
    start redledoff

service greenledon /system/bin/factory_bin g 1
    user root
    oneshot
    disabled
on property:sys.greenledon=1
    start greenledon

service greenledoff /system/bin/factory_bin g 0
    user root
    oneshot
    disabled
on property:sys.greenledoff=1
    start greenledoff

service blueledon /system/bin/factory_bin b 1
    user root
    oneshot
    disabled

service blueledoff /system/bin/factory_bin b 0
    user root
    oneshot
    disabled
#end for ftm led test

on early_property:ro.build.type=eng
start atci_service
start atcid-daemon-e
service audio-daemon /vendor/bin/audiocmdservice_atci
    class main
    socket atci-audio stream 660 media system
    user media
    group nvram media system sdcard_rw
    disabled
    oneshot

